/*This is the CSS page for elements in the slider*/

body{
	position:relative;
	font-family: 'Inconsolata', Georgia, Serif;
	font-weight: 200;
	-webkit-font-kerning: auto;
	-webkit-font-smoothing: antialiased;
}

/* SLIDER STYLES */

.slider-wrapper{
	position:relative;
	overflow:hidden;
	width:100%;
	margin:200px auto;
	background: #C0D4DF;
	border:5px solid #ffffff;
	box-shadow:0 3px 5px #DAE5DA;
}

.slider{
	position:relative;
	width:100%;
	height: 100%;
	margin:0 auto;
	background: #C0D4DF;

}
@media only screen and (min-width: 1000px){
	.slider{
		width:1000px;
	}
#mobileShow	.info-mobile {
		display: none !important;
		visibility: none;
	}

}

@media only screen and (min-width: 1440px){
	.slider{
		width:1440px;
	}
	#mobileShow	.info-mobile {
			display: none !important;
			visibility: none;
		}
}

/*MOBILE VERSON*/

@media only screen and (max-device-width: 480px){
	.slider .responisve-container .fractionSlider{
		height: 200em;
		width: auto;
	}
	.fraction-slider .slide .active-slide {
		height: 200em;
		width: auto;
	}
	.container{
		width: 100%;
		height: 100%;
	}
	#mobileShow{
		display: visible;
	}
	#info{
		width: 100%;
		font-size: 40px;
	}
.info-mobile{
	visibility: visible;
	font-size: 40px;
	width: 50em;
	border: 2px solid #36515F;
	border-radius: 5px;
	background: #E3B08B;
	margin-top: 100em;
}


/* ELEMENT STYLES */

.claim{
	line-height:100%;
	font-family: Georgia,serif;
	font-size: 20px;
	font-weight: bold;

}

.teaser{
	padding:0.5% 1.5%;
	font-size:14px;
	 line-height:100%
	 }


.small{
	width:350px;
   padding-left:0; padding-right:0px;
	text-align:center;
}


.around-the-world{
	width: 90%;
	height: 90%;

	}
.with-bly{
	width: 70%;
	height: 70%;
}
.bly-img{
	width: 80%;
	height: 80%;
}

.about-bly{
	z-index: 9999;
	width: 50%;

}

#info, #text {
		padding: .9em;
		width: 25em;
		font-size: 18px;
		text-wrap: normal;
		text-align: center;
		border: 2px solid #36515F;
		border-radius: 5px;
		background: #E3B08B;
	}
	#profile{
		border: 5px solid #36515F;
		border-radius: 3px;

	}


.btn-default{
	background: #36515F;
	color: #94A4AC;
	/*background-color: #367380;*/
	border-color: #212263;
	font-weight: bold;

}
.btn-default:hover{
	background-color: #92989D;

}
.btn-default:active{
	background-color: #92989D;
}

.journalism, .journalism2 {
	padding: .9em;
	width: 30em;
	font-size: 20px;
	text-wrap: normal;
	text-align: center;
	border: 2px solid #36515F;
	border-radius: 5px;
	background: #E3B08B;
}
.people{
	width: 100%;
	height: 25%;
	position: absolute;
}
.mapgif{
z-index: 1000;
}

.world-info{
	padding:.9em;
	width: 400px;
	font-size: 18px;
	text-align: center;
	border: 2px solid #36515F;
	border-radius: 5px;
	background: #E3B08B;

}
#world-info3{
	text-align: left;
	padding: 3px;
	margin: 2px;
}
#bag{
	z-index: 9000;
	width: 19em;
	height: 8em;
	margin-bottom: 5em;
	position: absolute;

}

.map{
	position: absolute;
	width: 100%;
	height: 100%, auto;
	image-orientation: center;
	z-index: 2000
}
.journey{
	max-height: 12em;
}
.round-button {
	width: 2.5%;

}
.round-button-circle {
	position: absolute;
	width: 100%;
	height:0;
	padding-bottom: 100%;
  border-radius: 50%;
	border:1px solid #36515F;
  overflow:hidden;
  background:#92989D;
  box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
		background: #E3B08B;
}
.round-button a {
	width:100%;
	padding-top:50%;
  padding-left: 25%;
	line-height:1em;
	text-align:center;
	color:#36515F;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}
.directions{
	padding: 10px;
	margin: 5px;

}

#quiz{
	min-height: 300px;
	display: none;
	margin-top: 6.25em;
	margin-left: 15.6em;
	overflow: auto;
}

.quiz2 {
overflow: auto;

}
.quiz-img{
	position: absolute;
}
